bootstrap: bootstrap_app.php # bootstrap file
server:
     host: localhost
     port: 8000 # php dev server port
     ini: sever.ini # php dev server ini
     dir: public/ # php dev server public dirrectory
     router: public/router.php # php dev server router
